
Vaerydian/Vaerydian/Vaerydian/bin/x86/Release/The_World.wrld
Vaerydian/Vaerydian/Vaerydian/bin/x86/Release/The_World_*.wseg
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.gitignore
Vaerydian/Vaerydian/Vaerydian/bin/x86/Release/screenshot.png
Vaerydian/Vaerydian/Vaerydian/bin/x86/Release/Vaerydian.application